<li role="presentation" class="dropdown-header">Layout</li>
<li><a href="#" class="setting orientation-horizontal"><i class="fa fa-check"></i> Horizontal</a></li>
<li><a href="#" class="setting orientation-vertical"><i class="fa fa-check"></i> Vertical</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Results Pane</li>
<li><a href="#" class="setting results-wrap"><i class="fa fa-check"></i> Wrap text</a></li>
<li><a href="#" class="setting show-input"><i class="fa fa-check"></i> Show input</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Theme</li>
<li><a href="#" class="setting theme" data-theme="default"><i class="fa fa-check"></i> Light</a></li>
<li><a href="#" class="setting theme" data-theme="lesser-dark"><i class="fa fa-check"></i> Dark</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Editor</li>
<li><a href="#" class="setting auto-import-domains"><i class="fa fa-check"></i> Auto import domain classes</a></li>
<li><a href="#" class="setting warn-before-exit"><i class="fa fa-check"></i> Show unsaved changes warning</a></li>
<li role="presentation" class="divider"></li>
<li><a href="#" class="help"><i class="fa fa-check"></i> Help</a></li>