.DS_Store
target
*.log
*.zip
plugin.xml
.settings/
web-app/WEB-INF/tld
.idea
*.iml
/node_modules/
/.grunt/
/web-app/dist
/grails-app/conf/console.json
/web-app/*/console/debug
/web-app/*/console/release