<div class="btn-toolbar">
    <button class="execute btn btn-sm btn-default" title="Execute (Ctrl + Enter)"><i class="fa fa-play fa-lg"></i></button>
    <button class="btn btn-sm btn-default new" title="New"><i class="fa fa-file fa-lg"></i></button>
    <!--<button class="btn btn-sm btn-default files" title="Open"><i class="fa fa-folder fa-lg"></i></button>-->
    <div class="btn-group">
        <button class="save btn btn-sm btn-default" title="Save"><i class="fa fa-save fa-lg"></i></button>
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" class="save-as">Save as...</a></li>
        </ul>
    </div>
</div>
<div id="code-wrapper" class="ui-layout-content">
    <textarea name="code" rows="25" cols="100"></textarea>
</div>