<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Save as</h4>
    </div>

    <div class="modal-body">
        <div class="files-header">
            <div class="section">
                <form class="form-horizontal file-info">
                    <input class="file-name form-control" type="text" placeholder="File name"/>
                </form>
            </div>
        </div>
        <div class="files-body">
            <div class="store">
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="cancel btn btn-primary">Cancel</button>
        <button type="button" class="save btn btn-primary">Save</button>
    </div>
</div>