<div class="btn-toolbar">
    <button class="clear btn btn-sm btn-default" title="Clear (Esc)"><i class="fa fa-eraser fa-lg"></i></button>
    <button class="btn btn-sm btn-default close-it pull-right" title="Close"><i class="fa fa-times"></i></button>
</div>

<div class="script-result-section">
    <div class="floatable">
        <div class="inner">
            <div class="script-result welcome">
                <div class="result wrappable"><div>Welcome to the Grails Debug Console!

- Execute Groovy code from the editor or inline.
- Save/load scripts via the editor toolbar and storage pane.
- Send output to the browser console for better formatting.
- More options available in the settings dropdown.

Implicit variables:
{{#each implicitVars}}
    {{~this}}
{{/each}}

Keyboard shortcuts:
{{#each shortcuts}}
    {{~this}}
{{/each}}
</div></div>
            </div>
        </div>
        <form class="prompt-form">
            <div class="prompt-inner">
                <div class="gutter">&gt;</div>
                <div class="text"><textarea class="prompt form-control" type="text"></textarea></div>
            </div>
        </form>
    </div>
</div>
