body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Verdana, sans-serif;
    background: #eee;
    overflow: hidden;
}

.script-result, .result_time {
    color: white;
    font-size: 11px;
    font-family: monospace;
    padding: 8px;
    margin-bottom: 8px;
}

#result .script-result {
    white-space: pre;
    margin: 0;
}

#result.wrap .script-result {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#result .inner {
    float: left;
    min-width: 100%;
}

#result.wrap .inner {
    float: none;
    min-width: inherit;
}

.script-result {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #aaa;
    color: #000000;
}

.script-result.stacktrace {
    background: none repeat scroll 0 0 #FFF3F3;
    color: #ff0000;
}

.script-result.loading {
    background: url("../images/spinner.gif") no-repeat scroll 10px center #FFFFFF;
    padding: 15px 15px 15px 37px;
}

.result_time {
    color: black;
    background: #ccc;
    font-size: 10px;
    float: right;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
}

#header {
    overflow: hidden;
}

#header h1 {
    background: #009900 url(../images/grails.logo.png) no-repeat;
    background-position: 5px center;
    margin: 0;
    padding: 5px 45px;
    font-family: "Lucida Grande", Arial, Sans-serif;
    font-weight: normal;
    font-variant: small-caps;
    color: white;
    font-size: 22px;
}

#editorContainer {
    width: 100%;
    height: 50%;
    overflow: auto;
    background: #f4f4f4;
}

#result {
    font-size: 15px;
    overflow: auto;
    background: #f4f4f4;
    overflow: auto;
}

.ui-layout-pane {
    padding: 0;
    border: 0;
}

.results {
    height: 100%;
}

#editor .buttons,
.east .buttons,
.south .buttons {
    background-color: #eee;
    border-bottom: 1px solid #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(top, #eeeeee, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#dddddd');
    position: relative;
}

#header .buttons {
    position: absolute;
    right: 8px;
    top: 0;
}

.buttons {
    overflow: hidden;
    padding: 5px 0 5px 5px;
}

.buttons button {
    float: left;
}

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .3em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    font-size: 12px;
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ededed');
}

.button:hover {
    text-decoration: none;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dcdcdc');
}

.button:active {
    position: relative;
    top: 1px;
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ededed', endColorstr = '#ffffff');
}

.buttonset .button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

.buttonset .button.first {
    -webkit-border-radius: 0.5em 0 0 0.5em;
    -moz-border-radius: 0.5em 0 0 0.5em;
    border-radius: 0.5em 0 0 0.5em;
}

.buttonset .button.last {
    -webkit-border-radius: 0 0.5em 0.5em 0;
    -moz-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 0.5em 0.5em 0;
    border-left: none;
}

.buttonset .button.selected {
    box-shadow: 0 0 8px #555555 inset;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-scroll {
    height: 100%;
}

#code-wrapper {
    overflow: auto;
}

label.wrap,
label.remember {
    color: #777777;
    font-size: 0.75em;
    margin-right: 5px;
    position: absolute;
    right: 5px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
}

label.wrap input,
label.wrap span,
label.remember input,
label.remember span {
    vertical-align: middle;
}