<div class="btn-toolbar">
    <button class="clear btn btn-sm btn-default" title="Clear (Esc)"><i class="fa fa-eraser fa-lg"></i></button>

    <!--<div class="btn-group pull-right">-->
        <!--<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">-->
            <!--<span>Session Off</span>-->
            <!--<span class="caret"></span>-->
            <!--<span class="sr-only">Toggle Dropdown</span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#" class="save-as">Session On</a></li>-->
            <!--<li><a href="#" class="save-as">Session Off</a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>

<div class="script-result-section">
    <div class="floatable">
        <div class="inner"></div>
        <form class="prompt-form">
            <div class="prompt-inner">
                <div class="gutter">&gt;</div>
                <div class="text"><textarea class="prompt form-control" type="text"></textarea></div>
            </div>
        </form>
    </div>
</div>