<span class="navbar-brand">Grails Debug Console</span>
<p class="navbar-text title"><span></span><i class="saving fa fa-refresh fa-spin" style="display: none"></i></p>
<form class="navbar-form pull-right">
    <div class="btn-group settings-btn-group">
        <button class="clear btn-sm btn btn-default dropdown-toggle" title="(Esc)" data-toggle="dropdown">
            <i class="fa fa-cog"></i>
            <span class="caret"></span>
        </button>
    </div>
</form>
